extends layout

block content
  form(class="form-horizontal", role="form", method="post")
    fieldset
      .form-group
        label(class="col-sm-2 control-label", for="login-username") 用户名：
        .col-sm-6
          input(type="text", name="user", class="form-control", placeholder="username", id="login-username")
      .form-group
        label(class="col-sm-2 control-label", for="login-password") 密码：
        .col-sm-6
          input(type="password", name="password" class="form-control", placeholder="password", id="login-password")
      .form-group
        div(class="col-sm-offset-2 col-sm-10")
          button(type="submit", class="btn btn-default btn-success") login