//- button(type='button', class='btn btn-success', data-toggle='modal' data-target='#locModal') AAAA
//- span.glyphicon.glyphicon-arrow-right
//- button(type='button', class='btn btn-success', data-toggle='modal' data-target='#locModal') B
//- span.glyphicon.glyphicon-arrow-right
//- button(type='button', class='btn btn-success', data-toggle='modal' data-target='#locModal') A

.container
  .jumbotron
    h1 使用规则
    p 首先选择出发点，然后选择要去的地方，最后可选返回路程。
    p
      a(class="btn btn-lg btn-primary", id="chooseLoc" href="javascript:;", role="button") CHOOSE

.container.location


//- Modal
div(class="modal fade", id="locModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
        h4.modal-title choose
      .modal-body
        p sunorry
      .modal-footer
        button(type="button", class="btn btn-default", data-dismiss="modal") Close
        button(type="button", class="btn btn-primary") save changes

