.index-banner
  .index-banner-wrap
    .index-banner-inner
      h1 让工作更简单
      p 一款免费、好用的团队协同工具，让你
      br
      p 的团队随时随地一起工作
      .index-banner-action
        a(class='btn btn-success btn-lg', href='/login') Try it now