body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.divider-vertical {
  border-style: solid;
  border-width: 1px;
  opacity: .5;
  height: 50px;
  border-left-color: #111415;
  border-right-color: #646668;
}
